---
import BaseLayout from '../layouts/BaseLayout.astro';
import Image from '../components/Image.astro';
import MovieList from '../components/MovieLoadMore';
const domainApi = import.meta.env.PUBLIC_API_GO_URL;
const movieHot = await fetch(domainApi + '/api/v1/movie-hot',{
	method: 'GET',
}).then((response) => response.json());
const genres = await fetch(domainApi + '/api/v1/genre-home',{
	method: 'GET',
}).then((response) => response.json());

---
<!-- home -->
 <BaseLayout title="28MOVIE" description="Home page">
	<div class="home home--static">
		<div class="home__carousel owl-carousel" id="flixtv-hero">
			{movieHot.map((movie: any) =>
			<div class="home__card">
				<a href={movie.type == 'single' ? 'movie/' + movie.slug : 'tv-series/' + movie.slug}>
					<Image src={movie.image.thumb + "&w=414&h=330&fit=cover&format=webp&quality=80&output=webp"} alt={movie.name}/>
				</a>
				<div>
				<h2>{movie.name}</h2>
				<ul>
					<li>Free</li>
					<li>{movie.genres[0].name}</li>
					<li>{movie.release_date}</li>
				</ul>
				</div>
				<button class="home__add" type="button">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<path
					d="M16,2H8A3,3,0,0,0,5,5V21a1,1,0,0,0,.5.87,1,1,0,0,0,1,0L12,18.69l5.5,3.18A1,1,0,0,0,18,22a1,1,0,0,0,.5-.13A1,1,0,0,0,19,21V5A3,3,0,0,0,16,2Zm1,17.27-4.5-2.6a1,1,0,0,0-1,0L7,19.27V5A1,1,0,0,1,8,4h8a1,1,0,0,1,1,1Z" />
				</svg>
				</button>
				<span class="home__rating"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<path
					d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" />
				</svg>
				{movie.rating}</span>
			</div>
			)}
		</div>
		<button class="home__nav home__nav--prev" data-nav="#flixtv-hero" type="button"></button>
		<button class="home__nav home__nav--next" data-nav="#flixtv-hero" type="button"></button>
	</div>
	<!-- end home -->
	<!-- catalog -->
	<div class="catalog">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="catalog__nav">
						<div class="catalog__select-wrap">
							<select class="catalog__select" name="genres">
								<option value="all">All genres</option>
								{genres.map((genre:any)=>
									<option value={genre.slug}>{genre.name}</option>
								)}
							</select>
							<select class="catalog__select" name="years">
								<option value="All the years">All the years</option>
								<option value="1">'50s</option>
								<option value="2">'60s</option>
								<option value="3">'70s</option>
								<option value="4">'80s</option>
								<option value="5">'90s</option>
								<option value="6">2000-10</option>
								<option value="7">2010-20</option>
								<option value="8">2021</option>
							</select>
						</div>
						<div class="slider-radio">
							<input type="radio" name="grade" id="featured" checked="checked" /><label for="featured">Featured</label>
							<input type="radio" name="grade" id="popular" /><label for="popular">Popular</label>
							<input type="radio" name="grade" id="newest" /><label for="newest">Newest</label>
						</div>
					</div>
					<MovieList client:load />
				</div>
			</div>
		</div>
	</div>
	<!-- end catalog -->
	<!-- subscriptions -->
	<section class="section">
		<div class="container">
		<div class="row">
			<div class="col-12">
			<h2 class="section__title">Collection</h2>
			</div>
			<div class="col-12">
			<div class="section__carousel-wrap">
				<div class="section__carousel owl-carousel" id="subscriptions">
					<div class="card">
						<a href="#" class="card__cover">
						<img src="img/card/11.png" alt="" />
						<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd"
							d="M13.1615 8.05308C13.1615 9.79908 11.7455 11.2141 9.9995 11.2141C8.2535 11.2141 6.8385 9.79908 6.8385 8.05308C6.8385 6.30608 8.2535 4.89108 9.9995 4.89108C11.7455 4.89108 13.1615 6.30608 13.1615 8.05308Z"
							stroke-linecap="round" stroke-linejoin="round" />
							<path fill-rule="evenodd" clip-rule="evenodd"
							d="M9.998 15.3549C13.806 15.3549 17.289 12.6169 19.25 8.05289C17.289 3.48888 13.806 0.750885 9.998 0.750885H10.002C6.194 0.750885 2.711 3.48888 0.75 8.05289C2.711 12.6169 6.194 15.3549 10.002 15.3549H9.998Z"
							stroke-linecap="round" stroke-linejoin="round" />
						</svg>
						</a>
						<button class="card__add" type="button">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<path
							d="M16,2H8A3,3,0,0,0,5,5V21a1,1,0,0,0,.5.87,1,1,0,0,0,1,0L12,18.69l5.5,3.18A1,1,0,0,0,18,22a1,1,0,0,0,.5-.13A1,1,0,0,0,19,21V5A3,3,0,0,0,16,2Zm1,17.27-4.5-2.6a1,1,0,0,0-1,0L7,19.27V5A1,1,0,0,1,8,4h8a1,1,0,0,1,1,1Z" />
						</svg>
						</button>
						<h3 class="card__title card__title--subs">
						<a href="details.html">Sports broadcasts</a>
						</h3>
						<ul class="card__list card__list--subs">
						<li>More than 300 movies</li>
						</ul>
					</div>
				</div>
				<button class="section__nav section__nav--cards section__nav--prev" data-nav="#subscriptions" type="button">
				<svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.25 7.72559L16.25 7.72559" stroke-width="1.5" stroke-linecap="round"
					stroke-linejoin="round" />
					<path d="M7.2998 1.70124L1.2498 7.72524L7.2998 13.7502" stroke-width="1.5" stroke-linecap="round"
					stroke-linejoin="round" />
				</svg>
				</button>
				<button class="section__nav section__nav--cards section__nav--next" data-nav="#subscriptions" type="button">
				<svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M15.75 7.72559L0.75 7.72559" stroke-width="1.5" stroke-linecap="round"
					stroke-linejoin="round" />
					<path d="M9.7002 1.70124L15.7502 7.72524L9.7002 13.7502" stroke-width="1.5" stroke-linecap="round"
					stroke-linejoin="round" />
				</svg>
				</button>
			</div>
			</div>
		</div>
		</div>
	</section>
	<!-- end subscriptions -->
</BaseLayout>